<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Admin</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Configurations
      </a>
      <div class="dropdown-menu">
       <a class="dropdown-item"  [routerLink]="['./menu_config']"> Menu Config</a>
        <a  class="dropdown-item" [routerLink]="['./group_config']">Security Config</a>

      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
