<div class="signupform" style="background-color: white;    padding: 0%;">
    <div class="container" >
      <!-- main content -->
      <div class="main-content">


          <div class="login_info" style="    background-color: #f8f9fa;">
              <h2>Create Your Account Here!!</h2>
              <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                  <label>Full Name</label>
                    <div class="input-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input name="name" #name="ngModel" [(ngModel)]="users.selecteduser.name"  class="form-control" [ngModelOptions]="{standalone: false}" type="text"  aria-describedby="Your Name" placeholder="Enter Your Name">
                      </div>
                      <label>Password</label>
                    <div class="input-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input name="password" #password="ngModel" [(ngModel)]="users.selecteduser.password" class="form-control" [ngModelOptions]="{standalone: false}" type="password" placeholder="Password">
                      </div>
                      <label>Confirm Password</label>
                    <div class="input-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input name="cpassword" class="form-control" #password="ngModel" [(ngModel)]="users.selecteduser.cpassword"   [ngModelOptions]="{standalone: false}" type="password" placeholder="Confirm Password">
                      </div>
                      <label>E-Mail Address</label>
                    <div class="input-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input name="email" type="email"  #email="ngModel" class="form-control" [ngModelOptions]="{standalone: false}" [(ngModel)]="users.selecteduser.email"  aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <button class="btn btn-danger btn-block" style="margin-top: 3%" type="submit">Create Accout</button >                
              </form>
            </div>
        <div class="contect_left_form" >
            <div class="left_grid_info">
                <h1>Create Your Writerspot Account</h1>
                <p>Create your account with us !!!! get your Account Verified and Share your post on writerspot.</p>
                <img src="/assets/img/image.jpg" alt="" />
              </div>
        </div>

      </div>
      <!-- //main content -->
    </div>
  </div>
    