 <div class="signupform" style="background-color: white;    padding: 0%;">
      <div class="container" >
        <!-- main content -->
        <div class="main-content">
          <div class="contect_left_form">
            <div class="left_grid_info">
              <h1>Login to your Writerspot Account</h1>
              <img src="/assets/img/image.jpg" alt="" />
            </div>
          </div>
          <div class="login_info" style="    background-color: #f8f9fa;">
            <h2>Login to your Account</h2>
            <p>Enter your details to login.</p>
            <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
              <label>Email Address</label>
              <div class="input-group">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <input name="email" #email="ngModel" [(ngModel)]="users.authenticate_data.email"   type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
              </div>
              <label>Password</label>
              <div class="input-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <input  name="password" #password="ngModel" [(ngModel)]="users.authenticate_data.password"    type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div> 						
                <button class="btn btn-danger btn-block" type="submit">Login</button >                
            </form>
            <p class="account">By clicking login, you agree to our <a href="#">Terms & Conditions!</a></p>
          </div>
        </div>
        <!-- //main content -->
      </div>
    </div>
      